.ewk_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/cover-2.jpg);  
}

.ewk_sombra{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,.6);

    color: white;
    margin: auto;
}

.ewk_sombra hr{
    border-top:1px solid white;

}

.ewk_sombra h1{
    font-size:6vw;
    margin-bottom: 10px;
}

.ewk_sombra p{
    font-size:4vw;
    margin-bottom: 10px;
}

.ewk_cont_banner_link a{
    font-size: 23px;
}

.ewk_cont_banner_link {
    margin:15px;
    position: relative;
}

.ewk_cont_banner_link a{
    display: inline-block;
    color:white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1px;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 2px;
}

.ewk_cont_banner_link a:hover{
    background-color: white;
    color: #111;
}



